@import url("https://fonts.googleapis.com/css?family=Karla:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic");

.sideBar {
  position: absolute;
  width: 327px;
  height: 720px;
  left: -26px;
  top: 703px;
}
.sideTitle {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;

  color: #000000;
}
.genreText {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  cursor: pointer;
  color: #000000;
}

.bookCenter {
  margin-top: 50%;
  margin-left: 25%;
  width: 1000px;
  max-height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 72px;
  left: -79px;
  width: 1520px;
  height: 80px;

  background: #ff971d;
}
.footerLogo {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
}
.footerText {
  height: 20px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  cursor: pointer;
  color: #ffffff;
}
.footerText:active {
  transform: translate(0, 2px);
}
